{{- $nexusUser := (onepasswordDetailsFields "Local Nexus").username.value -}}
{{- $nexusPass := (onepasswordDetailsFields "Local Nexus").password.value -}}
## Exports
export NEXUS_USER={{ $nexusUser | quote }}
export NEXUS_PASS={{ $nexusPass | quote }}
export NEXUS_HOST="nexus.figure.com"
export NEXUS_NPM_TOKEN=$(echo -n {{ $nexusUser }}:{{ $nexusPass }} | openssl base64)

## Github Token
{{ $terminalGithubToken := (onepasswordDetailsFields "Terminal Github Token").password.value -}}
export GITHUB_TOKEN={{ $terminalGithubToken | quote}}

## Homebrew API token for private taps
{{ $homebrewGithubToken := (onepasswordDetailsFields "Homebrew Github Token").password.value -}}
export HOMEBREW_GITHUB_API_TOKEN={{ $homebrewGithubToken | quote }}

## Figure FE config
{{ $percyToken := (onepasswordDetailsFields "FE - Percy Token").password.value -}}
export PERCY_TOKEN={{ $percyToken }}
{{ $cypressRecordKey := (onepasswordDetailsFields "FE - Cypress Record Key").password.value -}}
export CYPRESS_RECORD_KEY={{ $cypressRecordKey }}
export NODE_ENV=development
export BABEL_ENV=$NODE_ENV
