{{- $nexusUser := (onepasswordDetailsFields "Okta - Figure").username.value -}}
{{- $nexusPass := (onepasswordDetailsFields "Okta - Figure").password.value -}}
## Exports
export NEXUS_USER={{ $nexusUser | quote }}
export NEXUS_PASS={{ $nexusPass | quote }}
export NEXUS_HOST="nexus.figure.com"
# export NEXUS_NPM_TOKEN=$(echo -n ${NEXUS_USER}:${NEXUS_PASS} | openssl base64)
export NEXUS_NPM_TOKEN=$(echo -n $nexusUser:$nexusPass | openssl base64)

## Github Token
{{ $terminalGithubToken := (onepassword "Terminal Github Token").details.password -}}
export GITHUB_TOKEN={{ $terminalGithubToken | quote}}

## Homebrew API token for private taps
{{ $homebrewGithubToken := (onepassword "Homebrew Github Token").details.password -}}
export HOMEBREW_GITHUB_API_TOKEN={{ $homebrewGithubToken | quote }}

## Figure FE config
{{ $percyToken := (onepassword "FE - Percy Token").details.password -}}
export PERCY_TOKEN={{ $percyToken }}
{{ $cypressRecordKey := (onepassword "FE - Cypress Record Key").details.password -}}
export CYPRESS_RECORD_KEY={{ $cypressRecordKey }}
export NODE_ENV=development
export BABEL_ENV=$NODE_ENV
