nexusUser={{ (onepasswordDetailsFields "Okta - Figure").username.value | quote }}
nexusPass={{ (onepasswordDetailsFields "Okta - Figure").password.value | quote }}
nexusHost=nexus.figure.com
org.gradle.caching=false
org.gradle.parallel=true
# org.gradle.console=plain
